---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}


<style>
  .text {
    font-size: 18px;
  }

  table, tr, td {
    border: none;
  }

  table {
    width: 100%;
    table-layout: fixed; /* Forces consistent column sizing */
  }

  td:first-child {
    width: 200px;  /* Left column: fixed width */
  }

  td:last-child {
    width: calc(100% - 200px);  /* Right column: takes remaining space */
  }
</style>


<table width="100%">
<tbody>
{% for post in site.portfolio reversed %}
  {% include portfolio-single.html %}
{% endfor %}
</tbody>
</table>

